/*Etiquetas*/
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font: normal 16px/1em 'Nunito Sans', sans-serif;
  color: #5c6269;
  overflow: hidden;
}

nav {
  flex: 0 0 68px;
  justify-content: center;
  background-color: #1B2126;
}

nav div.wrapper {
  align-items: center;
}

main {
  flex: 1 0 0;
  justify-content: center;
  /*overflow: hidden;*/
  overflow-y: auto;
}

aside {
  flex: 1;
  /*overflow-y: auto;*/
  padding-right: 20px;
}

section {
  flex: 3.5;
}

h1 {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  height: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  color: #b1b5b8;
  padding: 0px 13px;
}

li a {
  padding: 10px;
}

li a:hover {
  color: #ffffff;
}

input[type=search] {
  width: 315px;
  height: 40px;
  background-color: #5c6269;
  border-style: none;
  border-radius: 0px 8px 8px 0px;
  font: normal 1em/1em 'Nunito Sans', sans-serif;
}

input[type=search]::placeholder {
  font: normal 1em/1em 'Nunito Sans', sans-serif;
  color: #1b2126;
}

input[type=range] {
  -webkit-appearance: none;
  width: 233px;
  margin: 20px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: #e9ecee;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 37px;
  border-radius: 50px;
  background: #2883d8;
  cursor: pointer;
  margin-top: -10px;
}

input[type=checkbox] {
  margin-left: -10px;
}

button {
  width: 113px;
  height: 29px;
  display: inline-block;
  text-align: center;
  color: #8e9297;
  border: 2px solid #E9ECEE;
  border-radius: 3px;
  background-color: #FFFFFF;
  margin: 4px 0px 4px 0px;
}

button:hover {
  color: #2883d8;
  border-color: #2883d8;
  cursor: pointer;
}

.active {
  border: 1px solid #2883d8;
}

/*Clases*/
.wrapper {
  flex: 0 0 1170px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.spc-ar {
  justify-content: space-around;
}

.spc-bt {
  justify-content: space-between;
}

.menu {
  flex: 0 0 50px;
  height: 69px;
  line-height: 0.75;
  align-items: center;
}

.menu > span {
  margin-left: 20px;
}

.results {
  /*overflow-y: auto;*/
  flex-wrap: wrap;
  justify-content: flex-start;
}

.range {
  color: #8e9297;
  font: bold 0.875em/1 'Nunito Sans', sans-serif;
  border: 2px solid;
  border-radius: 10px;
  padding: 1px 10px;
}

.filter {
  align-items: center;
}

.btn-col {
  display:inline-flex;
  flex-direction: column;
}

.preview {
  margin: 11px;
}

.cover {
  display: inline-block;
  width: 269px;
  height: 403px;
}

.preview:hover .cover {
  filter: brightness(50%);
}

.on {
  color: firebrick;
}

.plus {
  width: 269px;
  height: 403px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.plus img {
  position: relative;
  width: 50px;
  height: 49px;
  top: 2px;
  left: 5px;
  right: 5px;
  background: url(/img/rt-icons.png) -70px -71px;
}

.rate {
  display: none;
  width: 269px;
  height: 41px;
  position: relative;
  margin: -43px 0px;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}

.rate span {
  color: #ffffff;
  /*position: relative;
  top: 10px;*/
}

.preview:hover .rate{
  display: flex;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(0,0,0,0.4);
}

.details {
  position: fixed;
  right: 0;
  background-color: #ffffff;
  padding: 16px;
  width: 75%;
  height: 100%;
  overflow-y: auto;
}

.details h2 , h3 {
  display: inline;
  margin: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.description {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  margin: 16px 0px 16px 0px;
  padding: 16px 0px 16px 0px;
}

.description > div {
  align-items: flex-start;
}

.description div.col {
  display: inline-block;
  margin-left: 20px;
}

.tomate {
  position: relative;
  width: 12px;
  height: 12px;
  top: 2px;
  margin: 0px 5px 0px 5px;
  background: url(/img/rt-icons.png) -258px -146px;
}

.cotufa {
  position: relative;
  width: 12px;
  height: 14px;
  top: 2px;
  margin: 0px 5px 0px 5px;
  background: url(/img/rt-icons.png) -290px -145px;
}

/*Elementos*/
#logo {
  display: inline-block;
  margin: 18px 0px;
  height: 31px;
  width: 149px;
}

#search {
  background-color: #5c6269;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

#search img {
  padding: 0px 12px 0px 5px;
}