<div class="wrapper">
  <a href="/"><img id="logo" src="img/logo.png" alt="Logo"></a>
  <ul class="contenedor">
    <li><a href="/favoritos">Favoritos</a></li>
    <li><a href="/pendientes">Pendientes</a></li>
  </ul>
  <span>|</span>
  <ul class="contenedor">
    <li><a href="/" ng-click="Finder.searchTMDb(Finder.dateMax,Finder.valMax,Finder.adult);">Discover</a></li>
    <li><a href="/lastest">Últimas Pelis</a></li>
    <li><a href="/toprated">Top Rated</a></li>
    <li><a href="/comingsoon">Próximamente</a></li>
  </ul>
  <div id="search">
    <a href="#"><img src="img/Search_Icon.png" alt="Lupa" ng-click="Finder.searchMovie(Finder.query,Finder.adult)"></a>
    <input type="search" name="film-search" placeholder="Encuentra tu película favorita" ng-model="Finder.query">
  </div>
</div>
