<div class="menu">
  <img src="img/Filter_Icon.png" alt="Filter Icon">
  <a href="#" class="btn">Filtrar</a>
  <a href="#" class="btn">Borrar</a>
</div>
<div>
  <div class="filter">
    <b>Año</b>
    <p class="range">1900 - <span id="range-year"></span></p>
  </div>
  <input type="range" id="year" min="1900" max="2017" value="2000">
  <div class="filter">
    <b>Valoración IMDB</b>
    <p class="range">0 - <span id="range-imdb"></span></p>
  </div>
  <input type="range" id="imdb" min="0" max="9" value="5">
  <div class="filter">
    <b>Rotten Tomatoes - CS</b>
    <p class="range">0 - <span id="range-cs"></span></p>
  </div>
  <input type="range" id="cs" value="50">
  <div class="filter">
    <b>Rotten Tomatoes - AS</b>
    <p class="range">0 - <span id="range-as"></span></p>
  </div>
  <input type="range" id="as" value="50">
  <p><b>Géneros</b></p>
  <div class="filter">
    <div class="btn-col">
      <button>Acción</button>
      <button>Animación</button>
      <button>Crimen</button>
      <button>Drama</button>
      <button>Fantasía</button>
      <button>Horror</button>
      <button>Misterio</button>
      <button>Ficción</button>
      <button>Thriller</button>
      <button>Western</button>
    </div>
    <div class="btn-col">
      <button>Aventura</button>
      <button>Comedia</button>
      <button>Documental</button>
      <button>Familiar</button>
      <button>Históricas</button>
      <button>Música</button>
      <button>Romance</button>
      <button>TV Movies</button>
      <button>Guerra</button>
      <button>Pornografía</button>
    </div>
  </div>
</div>
