<div class="menu">
  <img src="img/Filter_Icon.png" alt="Filter Icon">
  <a href="#" class="btn">Filtrar</a>
  <a href="#" class="btn">Borrar</a>
</div>
<div>
  <div class="filter">
    <b>Año</b>
    <p class="range">1900 - <span id="range-year"></span></p>
  </div>
  <input type="range" id="year" min="1900" max="2017" value="2000">
  <div class="filter">
    <b>Valoración IMDB</b>
    <p class="range">0 - <span id="range-imdb"></span></p>
  </div>
  <input type="range" id="imdb" min="0" max="9" value="5">
  <div class="filter">
    <b>Rotten Tomatoes - CS</b>
    <p class="range">0 - <span id="range-cs"></span></p>
  </div>
  <input type="range" id="cs" value="50">
  <div class="filter">
    <b>Rotten Tomatoes - AS</b>
    <p class="range">0 - <span id="range-as"></span></p>
  </div>
  <input type="range" id="as" value="50">
  <div>
    <img src="img/G%C3%A9neros.png" alt="Generos">
  </div>
</div>
