<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate">
    <div class="tomate" src="/img/img_trans.gif">
  </div>
</div>
<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate"><p>RATE</p></div>
</div>
<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate"><p>RATE</p></div>
</div>
<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate"><p>RATE</p></div>
</div>
<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate"><p>RATE</p></div>
</div>
<div class="preview">
  <img src="../img/Home-cover.jpg" alt="movie prview">
  <div class="rate"><p>RATE</p></div>
</div>
